{% extends "base.html" %}

{% block title %}Update your profile{% endblock title %}

{% block extracss %}
<style type="text/css">
    

    .img-account-profile {
        height: 10rem;
    }

    .rounded-circle {
        border-radius: 50% !important;
    }

    .card {
        box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    }

    .card .card-header {
        font-weight: 500;
    }

    .card-header:first-child {
        border-radius: 0.35rem 0.35rem 0 0;
    }

    .card-header {
        padding: 1rem 1.35rem;
        margin-bottom: 0;
        background-color: rgba(33, 40, 50, 0.03);
        border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    }

    .form-control,
    .dataTable-input {
        display: block;
        width: 100%;
        padding: 0.875rem 1.125rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1;
        color: #69707a;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c5ccd6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .nav-borders .nav-link.active {
        color: #0061f2;
        border-bottom-color: #0061f2;
    }

    .nav-borders .nav-link {
        color: #69707a;
        border-bottom-width: 0.125rem;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0;
        padding-right: 0;
        margin-left: 1rem;
        margin-right: 1rem;
    }
</style>
{% endblock extracss %}

{% block content %}
<hr class="mt-0 mb-4">
<div class="row">
    <div class="mx-auto col-xl-4">
        <div class="card mb-4">
            <div class="card-header">Account Details</div>
            <div class="card-body">
                <form method='post'>
                    {{ form.non_field_errors }}
                    <div class="row gx-3 mb-3">
                        <div class="col-md-6">
                            <label class="small mb-1" for="{{ user_form.first_name.id_for_label }}">First name:</label>
                            {{ user_form.first_name }}
                            {% comment %} <input class="form-control" id="inputUsername" type="text"
                                placeholder="Enter your username" value="username"> {% endcomment %}
                        </div>
                        <div class="col-md-6">
                            <label class="small mb-1" for="{{ user_form.last_name.id_for_label }}">Last name:</label>
                            {{ user_form.last_name }}
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label class="small mb-1" for="{{ user_form.email.id_for_label }}">Email:</label>
                        {{ user_form.email }}
                    </div>
                    <div class="mb-3">
                        <label class="small mb-1" for="{{ profile_form.date_of_birth.id_for_label }}">Birthday:</label>
                        {{ profile_form.date_of_birth }}
                    </div>
                    <div class="mb-3">
                        <label class="small mb-1" for="{{ profile_form.bio.id_for_label }}">About me:</label>
                        {{ profile_form.bio }}
                    </div>
                    {% comment %} {{ user_form.as_p }} {% endcomment %}
                    {% comment %} {{ profile_form.as_p }} {% endcomment %}
                    {% csrf_token %}
                    <input type='submit' value='Update' class="btn btn-primary"/>
                </form>
            </div>
        
        </div>
    </div>
</div>
{% endblock content %}